#root {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem;
	/* background-color: aqua; */
	/* text-align: center; */
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
  }

  button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	margin: 0 5px;
	/* background-color: #1a1a1a; */
	cursor: pointer;
	transition: border-color 0.25s;
  }
  button:hover {
	border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
  }

.chatroom {
	width: 500px;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
}

.messageInput {
	display: flex;
	width: 500px;
	margin-top: 10px;
}

input {
	width: 100%;
	border-radius: 10px;
}

.sent {
	background-color: rgb(119, 173, 243);
	align-self: end;
	/* text-align: right; */
	border-radius: 15px;
	padding: 1rem;
	width: fit-content;
	/* margin: 2px; */
}

.received {
	background-color: rgb(206, 203, 203);
	padding: 1rem;
	border-radius: 15px;
	width: fit-content;
	/* margin: 2px; */
}

.userTag {
	display: flex;
	color: azure;
	justify-content: center;
	align-items: center;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	/* background-color: aqua; */
	/* background-image: url("https://randomuser.me/api/portraits/men/12.jpg"); */
	object-fit: cover;
}