/* ------ USE GRAY SCALE HERE: https://www.color-hex.com/color-palette/28549
neutral color (bg) 60%: 			GREY 			#282b30 
Primary color (main colopr)	40%		SMOKEDWHITE		#f5f5f5
Call to action (blue) 10%  			BLUE			#7289da
Calle to action bis: 				YELLOW			#ffde59 (de la maquette sur canvas)
*/
/*--------------- LAYOUT ------------- */
/* #root {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem;
}
	
/* Global variable */
:root {
	--headerHeight: 75px;
	--lobbyWidth: 25em;
}

body {
	margin: 0;
	background-color: rgb(40, 43, 48);
}

.mainContainer {
	/* Parent: body>#root>main */
	display: flex;
	flex-direction: column;
}

.header {
	/* Parent: .mainContainer */
	background-color: #64ff7e;
	display: flex;
	align-items: center;
	padding: 0em 1em;  /*horizontal padding, vertical padding*/
	height: var(--headerHeight);
	z-index: 1000;
}

.logo {
	/* Parent: .header */
	width: var(--lobbyWidth);
}

.authInfos {
	/* Parent: .header */
	flex-grow: 1;
}

.appBodyContainer {
	/* Parent: .mainContainer */
	display: flex;
	justify-content: center;
}

.lobby {
	/* Parent: .appBodyContainer */
	background-color: rgb(179, 250, 250);
	width: var(--lobbyWidth); /**23% of a screen of 1520px*/
	overflow-y: auto;
	height: calc(100vh - var(--headerHeight));
}

.lobbyHeader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chatZone {
	/* Parent: .appBodyContainer */
	display: flex;
	flex-grow: 1; /* parent element flex-direction is row, so it grows horizontaly with this property*/ 
	flex-direction: column;
	height: calc(100vh - var(--headerHeight));
}

#previousMessagesButton {
	width: 50px;
}

.chatroom {
	/* Parent: .appBodyContainer>chatZone */
	display: flex;
	flex-direction: column;
	background-color: #b700ff;
	overflow-y: scroll;
	/* Use flex-shrink (main axis is vertical so it is applied on messages): 1 combined with overflow: scroll to have a div with a scrolling bar */
	flex-shrink: 1;
}

.messageInputForm {
	/* Parent: .appBodyContainer>chatZone */
	flex-shrink: 0;
	display: flex;
	align-items: center;
	align-self: center;
	height: 4.5em;
}

.inputContainer{
	/* Parent: .messageInputForm */
	position: relative;
	display: flex;
}

.messageInputArea {
	/* Parent: .inputContainer */
	width: 36em;
	resize: none;
	border-radius: 5px;
	border: solid;
	border-color: #ffde59;
}

.sendButton {
	/* Parent: .inputContainer */
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30%;
	height: 38.4px;
	width: 38.4px;
	font-size: 35px;
	cursor: pointer;
	color: #ffde59;
	background-color: transparent;
	border: none;
}

.sendButton:hover {
	scale: 1.2;
}

.customFileUpload {
	/* Parent: .messageInputForm */
	margin-left: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #ffde59;
	border-radius: 50%;
	height: 36.4px;
	width: 36.4px;
	transition: background-color 0.25s;
}

.fileInput {
	/* Parent: customFileUpload */
	position: absolute;
    z-index: -1;
	opacity: 0;
}

.customFileUpload:hover {
	/* border:#646cff solid; */
	background-color: #ffde59;
	color: black;
	border-radius: 30%;
}

.left {
	white-space: pre;     /*preserve the line breaks defined in textarea*/
	display: flex;
	flex-direction: column;
	align-self:flex-start;
	margin-left: 2em;
}

.right {
	white-space: pre;     /*preserve the line breaks defined in textarea*/
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-right: 2em;
}

.sent {
	display: flex;
	flex-direction: column;
	background-color: rgb(119, 173, 243);
	/* align-self: end; */
	/* text-align: right; */
	border-radius: 15px;
	padding: 1rem;
	width: fit-content;
	/* margin: 2px; */
}

.received {
	background-color: rgb(206, 203, 203);
	padding: 1rem;
	border-radius: 15px;
	width: fit-content;
	/* margin: 2px; */
}

.userTag {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: solid #646cff 2px;
	margin-bottom: 2px;
}

.image {
	width: 320px;
	/** Do not put height so that images fit all the div*/
}

.horizontalLayout {
	display: flex;
	flex-direction: row;
}

.selectable {
	cursor: pointer;
	border-radius: 50%;
}

.userReaction {
	background-color: rgb(119, 173, 243);
}

.timeStamp {
	margin-top: 2px;
	margin-bottom: 5px;
	font-size: 0.6em;
	font-family: Arial, Helvetica, sans-serif;
}

.alignRight {
	align-self: end;	
}

/*--------------- BEHAVIOUR ------------- */